* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}
@font-face {
	font-family: Roboto-Medium;
	src: url('../../assets/fonts/Roboto-Medium.ttf');
}
html, body {
	height: 100%;
	width: 100%;
}
html {
	background: #000;
	overflow: hidden;
}
.body {
	overflow: hidden;
	opacity: 0;
	position: relative;
}
.main {
	width: 100%;
	height: 100%;
}
.body_loaded {
	opacity: 1;
}
.logo {
	position: absolute;
	top: 7%;
	left: 50%;
	width: 150px;
	transition: opacity 2.5s;
	transform: translate(-50%, -50%);
	opacity: 0;
}
.body_loaded .logo {
	opacity: 1;
}
.logo img {
	position: absolute;
	top: 50%;
	left: 50%;
}
.logo__img {
	width: 90%;
	transform-origin: 0% 50%;
	transform: translate(-20%, -55%);
}
.logo__text {
	width: 100%;
	transform: translate(-61%, -50%);
	z-index: 1;
}
.flex {
	display: flex;
}
.flex_center {
	align-items: center;
	justify-content: center;
}
.games {
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.game {
	width: 300px;
	position: relative;
	padding: 15px;
}
.game__inner {
	height: 100%;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, .8);
	transition: box-shadow .5s;
}
.game__inner:hover {
	box-shadow: 0px 0px 20px rgba(255, 255, 255, .8);
}
.game__img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-radius: 20px 20px 0 0;
}
.title {
	font-family: Roboto-Medium;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}
.title_size_s {
	font-size: 16px;
}
.title_size_m {
	font-size: 20px;
}
.game__name {
	margin: 6% 3%;
}
.btn {
	border: none;
	display: block;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	background: #000;
	padding: 20px;
	font-family: Roboto-Medium;
	text-transform: uppercase;
	transition: all .25s;
	transform-origin: center;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: pointer;
}
.btn_size_m {
	font-size: 20px;
}
.game__footer {
	padding: 20px;
	justify-content: center;
}
.contact {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 30px;
	transform: translateY(0%);
}
.contact_hide {
	opacity: 0;
	transform: translateY(100%);
}
.contact__btn {
	box-shadow: 0px 0px 30px rgba(158, 0, 0, 1);
	background: #9e0000;
	color: #fff;
}
.contact__btn:hover {
	box-shadow: 0px 0px 50px rgba(158, 0, 0, 1);
	transform: scale(1.02);
}
.game__btn {
	border: 2px solid #000;
}
.game__btn:hover {
	background: #fff;
	color: #000;
}
@keyframes fly {
	0% {
		transform: translate(-20%, -55%) rotate(0deg);
	}
	25% {
		transform: translate(-20%, -55%) rotate(-2deg);
	}
	75% {
		transform: translate(-20%, -55%) rotate(2deg);
	}
	100% {
		transform: translate(-20%, -55%) rotate(0deg);
	}
}
.form-overlay {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(0.0, 0.0, 0.0, 0.85);
}
.form__label, .form__input {
	display: block;
	margin: 16px 0;
}
.form__label {
	font: 20px Roboto-Medium;
	color: #fff;
}
.form__input {
	height: 50px;
	width: 300px;
	border-radius: 5px;
	border: none;
    outline: none;
    padding: 0 10px;
}
.form__btn {
	width: 100%;
	background: #000;
	border: 2px solid #fff;
	color: #fff;
	margin-top: 40px;
	letter-spacing: 5px;
}
#my-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form-overlay__btn {
	background: url('../../assets/images/close.png') no-repeat;
	background-size: contain;
	width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.form-opened .form-overlay {
	opacity: 1;
	pointer-events: all;
}
#my-form-status {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	color: #000;
	font: 20px Roboto-Medium;
	padding: 25px;
    border-radius: 10px;
    border: 2px solid #000;
    display: none;
    text-align: center;
}
.status-visible #my-form-status {
	display: block;
}
@media all and (max-width: 1250px) and (min-width: 560px) {
	.games {
		padding: 4vw 0.5vw;
	}
	.game {
		width: calc(100% / 4);
		padding: 1vw;
	}
	.title_size_m {
    	font-size: 1.9vw;
	}
	.title_size_s {
    	font-size: 1.6vw;
	}
	.game__btn {
		font-size: 14px;
		padding: 1.4vw;
		text-align: center;
	}
}
@media all and (max-width: 900px), all and (max-height: 500px) {
	.animation_completed {
		overflow: auto;
	}
	.main {
		display: block;
		height: auto;
	}
	.games {
		display: block;
		opacity: 0;
		transition: opacity 2s;
		transition-delay: .5s;
		margin: 100px 0 0 0;
	}
	.game {
		width: 300px;
		margin: 0 auto;
	}
	.contact {
    	position: relative;
    }
    .body_loaded .games {
    	opacity: 1;
    }
}
@media all and (max-width: 320px) {
	.game {
		width: 100%;
	}
	.games {
		padding: 0.5vw;
	}
	.form__input, .form__btn {
		width: 90%;
		margin: 16px auto;
	}
	.form {
		width: 100%;
	}
}